# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.AuthenticationUtilitiesMe do
  @moduledoc """
  API calls for all endpoints tagged `AuthenticationUtilitiesMe`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Show User Info
  Returns information on the authenticated user. If a company_id or project_id parameter is included, directory-specific information  on the user will also be returned. Returns a globally unique user id  (across companies). NOTE: This endpoint does not require the ['Procore-Company-Id' header] (https://developers.procore.com/documentation/tutorial-mpz) to be included on a request unless a company_id or project_id parameter  is also included.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:company_id` (integer()): Unique identifier for the company. You must supply either a company_id or project_id in order for a name to be returned.
    - `:project_id` (integer()): Unique identifier for the project. You must supply either a company_id or project_id in order for a name to be returned.

  ### Returns

  - `{:ok, Procore.Model.RestV10MeGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_me_get(Tesla.Env.client(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10MeGet200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_me_get(connection, opts \\ []) do
    optional_params = %{
      :company_id => :query,
      :project_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/me")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10MeGet200Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
