# NOTE: This file is auto generated by OpenAPI Generator 7.9.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ConstructionFinancialsBudgetBudgetViewSnapshots do
  @moduledoc """
  API calls for all endpoints tagged `ConstructionFinancialsBudgetBudgetViewSnapshots`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  List Budget View Snapshots
  Return a list of all Budget View Snapshots for a project.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page
    - `:per_page` (integer()): Elements per page

  ### Returns

  - `{:ok, [%RestV10BudgetViewSnapshotsGet200ResponseInner{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_budget_view_snapshots_get(Tesla.Env.client(), integer(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, [Procore.Model.RestV10BudgetViewSnapshotsGet200ResponseInner.t()]}
          | {:error, Tesla.Env.t()}
  def rest_v10_budget_view_snapshots_get(connection, procore_company_id, project_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :per_page => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/budget_view_snapshots")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10BudgetViewSnapshotsGet200ResponseInner},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Create a Budget Snapshot.
  Create a new Budget Snapshot for the Project and Budget. This is rate limited to one request per hour for each Project and Budget Template pair.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `rest_v10_budget_view_snapshots_post_request` (RestV10BudgetViewSnapshotsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10BudgetViewSnapshotsPost201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_budget_view_snapshots_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.RestV10BudgetViewSnapshotsPostRequest.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10BudgetViewSnapshotsPost429Response.t()}
          | {:ok, Procore.Model.RestV10BudgetViewSnapshotsPost400Response.t()}
          | {:ok, Procore.Model.RestV10BudgetViewSnapshotsPost201Response.t()}
          | {:ok, Procore.Model.RestV10BudgetViewSnapshotsPost202Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_budget_view_snapshots_post(
        connection,
        procore_company_id,
        rest_v10_budget_view_snapshots_post_request,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/budget_view_snapshots")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, rest_v10_budget_view_snapshots_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, Procore.Model.RestV10BudgetViewSnapshotsPost201Response},
      {202, Procore.Model.RestV10BudgetViewSnapshotsPost202Response},
      {400, Procore.Model.RestV10BudgetViewSnapshotsPost400Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {429, Procore.Model.RestV10BudgetViewSnapshotsPost429Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
