# NOTE: This file is auto generated by OpenAPI Generator 7.7.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ConstructionFinancialsTaxTaxCodes do
  @moduledoc """
  API calls for all endpoints tagged `ConstructionFinancialsTaxTaxCodes`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  List Tax Codes
  Return a list of all Tax Codes for a given Company  When tax suport is enabled in Procore you can associate line items with a specific Tax Code. The Tax Code (sometimes known as a Tax Group) determines the tax rate to be applied to the line item for each Tax Type defined in Procore (Note that presently Procore only supports a single Tax Type per company).  You may define as many Tax Codes as required. Through the web interface, a Procore admin user may identify one of these tax codes as the default value to be shown when creating new line items.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `company_id` (integer()): Unique identifier for the company.
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page
    - `:per_page` (integer()): Elements per page

  ### Returns

  - `{:ok, [%RestV10TaxCodesGet200ResponseInner{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_tax_codes_get(Tesla.Env.client(), integer(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, [Procore.Model.RestV10TaxCodesGet200ResponseInner.t()]}
          | {:error, Tesla.Env.t()}
  def rest_v10_tax_codes_get(connection, procore_company_id, company_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :per_page => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/tax_codes")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :company_id, company_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10TaxCodesGet200ResponseInner},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Show Tax Code
  Show detailed information for a specific Tax Code

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `id` (String.t): The Tax Code ID
  - `company_id` (integer()): Unique identifier for the company.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_tax_codes_id_get(Tesla.Env.client(), integer(), String.t(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t()}
          | {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_tax_codes_id_get(connection, procore_company_id, id, company_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/tax_codes/#{id}")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :company_id, company_id)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10TaxCodesGet200ResponseInner},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Update Tax Code
  Update a Tax Code's attributes

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `id` (String.t): The Tax Code ID
  - `company_id` (integer()): Unique identifier for the company.
  - `rest_v10_tax_codes_id_patch_request` (RestV10TaxCodesIdPatchRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_tax_codes_id_patch(
          Tesla.Env.client(),
          integer(),
          String.t(),
          integer(),
          Procore.Model.RestV10TaxCodesIdPatchRequest.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t()}
          | {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10TaxTypesPost400Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_tax_codes_id_patch(
        connection,
        procore_company_id,
        id,
        company_id,
        rest_v10_tax_codes_id_patch_request,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:patch)
      |> url("/rest/v1.0/tax_codes/#{id}")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :company_id, company_id)
      |> add_param(:body, :body, rest_v10_tax_codes_id_patch_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10TaxCodesGet200ResponseInner},
      {400, Procore.Model.RestV10TaxTypesPost400Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Create Tax Code
  Creates a Tax Code for a given Company

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `company_id` (integer()): Unique identifier for the company.
  - `rest_v10_tax_codes_post_request` (RestV10TaxCodesPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_tax_codes_post(
          Tesla.Env.client(),
          integer(),
          integer(),
          Procore.Model.RestV10TaxCodesPostRequest.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10TaxCodesGet200ResponseInner.t()}
          | {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10TaxTypesPost400Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_tax_codes_post(
        connection,
        procore_company_id,
        company_id,
        rest_v10_tax_codes_post_request,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/tax_codes")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :company_id, company_id)
      |> add_param(:body, :body, rest_v10_tax_codes_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, Procore.Model.RestV10TaxCodesGet200ResponseInner},
      {400, Procore.Model.RestV10TaxTypesPost400Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Sync Tax Codes
  This endpoint creates or updates a batch of Tax Codes

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body13` (Body13): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10TaxCodesSyncPatch200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_tax_codes_sync_patch(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body13.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10TaxCodesSyncPatch200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_tax_codes_sync_patch(connection, procore_company_id, body13, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/rest/v1.0/tax_codes/sync")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body13)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10TaxCodesSyncPatch200Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
