# NOTE: This file is auto generated by OpenAPI Generator 7.8.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.CoreCompanyCompanies do
  @moduledoc """
  API calls for all endpoints tagged `CoreCompanyCompanies`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  List Companies
  Return a list of Companies visible to the User.  NOTE: This endpoint does not require the ['Procore-Company-Id' header] (https://developers.procore.com/documentation/tutorial-mpz) to be included on a request.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page
    - `:per_page` (integer()): Elements per page
    - `:include_free_companies` (boolean()): By default the endpoint excludes free companies. Provide include_free_companies=true to include them

  ### Returns

  - `{:ok, [%Company{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_companies_get(Tesla.Env.client(), keyword()) ::
          {:ok, [Procore.Model.Company.t()]}
          | {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_companies_get(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :per_page => :query,
      :include_free_companies => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/companies")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.Company},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
