# NOTE: This file is auto generated by OpenAPI Generator 7.9.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.CorePermissionsPermissions do
  @moduledoc """
  API calls for all endpoints tagged `CorePermissionsPermissions`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Show permission manifest
  Company or project permission manifest for the current user

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `opts` (keyword): Optional parameters
    - `:project_id` (integer()): This parameter is required for project level permissions and should be omitted for company level permissions.
    - `:company_id` (integer()): This parameter is required for company level permissions and should be omitted for project level permissions.
    - `:filter_correspondence_types` (boolean()): Filter out Correspondence Types from permissions.

  ### Returns

  - `{:ok, Procore.Model.RestV10SettingsPermissionsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_settings_permissions_get(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10SettingsPermissionsGet400Response.t()}
          | {:ok, Procore.Model.RestV10SettingsPermissionsGet200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_settings_permissions_get(connection, procore_company_id, opts \\ []) do
    optional_params = %{
      :project_id => :query,
      :company_id => :query,
      :filter_correspondence_types => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/settings/permissions")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10SettingsPermissionsGet200Response},
      {400, Procore.Model.RestV10SettingsPermissionsGet400Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
