# NOTE: This file is auto generated by OpenAPI Generator 7.8.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.CoreTasksTaskItemsAssignees do
  @moduledoc """
  API calls for all endpoints tagged `CoreTasksTaskItemsAssignees`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  List Task Items Assignee options
  Returns Users that the current User can assign to Task Items.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page
    - `:per_page` (integer()): Elements per page
    - `:"filters[search]"` (String.t): Returns item(s) matching the specified search query string.

  ### Returns

  - `{:ok, [%ArrayOfTaskItemsThatWereSentOutInnerAllOfAssignee{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_task_items_assignees_get(Tesla.Env.client(), integer(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, [Procore.Model.ArrayOfTaskItemsThatWereSentOutInnerAllOfAssignee.t()]}
          | {:error, Tesla.Env.t()}
  def rest_v10_task_items_assignees_get(connection, procore_company_id, project_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :per_page => :query,
      :"filters[search]" => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/task_items/assignees")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.ArrayOfTaskItemsThatWereSentOutInnerAllOfAssignee},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
