# NOTE: This file is auto generated by OpenAPI Generator 7.7.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.CoreOpenItemsOpenItems do
  @moduledoc """
  API calls for all endpoints tagged `CoreOpenItemsOpenItems`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Get Open Items Statistics
  Return open items statistics for a project (all users)

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:tool_name` (String.t): 

  ### Returns

  - `{:ok, Procore.Model.RestV10OpenItemsAllGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_open_items_all_get(Tesla.Env.client(), integer(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10OpenItemsAllGet200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_open_items_all_get(connection, procore_company_id, project_id, opts \\ []) do
    optional_params = %{
      :tool_name => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/open_items/all")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10OpenItemsAllGet200Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {404, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end

  @doc """
  Get Open Items Statistics
  Return open items statistics for a project (current user)

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:tool_name` (String.t): 

  ### Returns

  - `{:ok, Procore.Model.RestV10OpenItemsAllGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_open_items_mine_get(Tesla.Env.client(), integer(), integer(), keyword()) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10OpenItemsAllGet200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_open_items_mine_get(connection, procore_company_id, project_id, opts \\ []) do
    optional_params = %{
      :tool_name => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/open_items/mine")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10OpenItemsAllGet200Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {404, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
