# NOTE: This file is auto generated by OpenAPI Generator 7.9.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ProjectManagementModelsBIMPlanBatch do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsBIMPlanBatch`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Create a batch of BIM Plans
  Create a batch of BIM Plans

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body127` (Body127): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.BimPlanBatchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_bim_plans_batch_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body127.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.BimPlanBatchCreateResponse.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_bim_plans_batch_post(connection, procore_company_id, body127, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/bim_plans/batch")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body127)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.BimPlanBatchCreateResponse},
      {400, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
