# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ProjectManagementModelsBIMMintTokens do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsBIMMintTokens`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Create BIM Mint Tokens
  Create BIM mint tokens in a Project

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body139` (Body139): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.BimMintTokens.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_bim_mint_tokens_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body139.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.BimMintTokens.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_bim_mint_tokens_post(connection, procore_company_id, body139, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/bim_mint_tokens")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body139)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.BimMintTokens},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
