# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ProjectManagementModelsBIMModelRevisionViewpointBatch do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsBIMModelRevisionViewpointBatch`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Create a batch of BIM Model Revision Viewpoints
  Create relationships between several BIM Model Revisions and BIM Viewpoints.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body136` (Body136): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.BimModelRevisionViewpointBatchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_bim_model_revision_viewpoints_batch_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body136.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.BimModelRevisionViewpointBatchCreateResponse.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_bim_model_revision_viewpoints_batch_post(
        connection,
        procore_company_id,
        body136,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/bim_model_revision_viewpoints/batch")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body136)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.BimModelRevisionViewpointBatchCreateResponse},
      {400, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
