# NOTE: This file is auto generated by OpenAPI Generator 7.9.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ProjectManagementModelsNestedBIMViewFolderBatch do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsNestedBIMViewFolderBatch`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Create a batch of BIM View Folder by path
  Creates a batch of nested BIM folders as per path provided. If the folder corresponding to a path exists, the folder at the lowest level is returned.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body60` (Body60): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.NestedBimViewFolderBatchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_nested_bim_view_folders_batch_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body60.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.NestedBimViewFolderBatchCreateResponse.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_nested_bim_view_folders_batch_post(
        connection,
        procore_company_id,
        body60,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/nested_bim_view_folders/batch")
      |> add_param(:headers, "Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body60)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.NestedBimViewFolderBatchCreateResponse},
      {400, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
