# NOTE: This file is auto generated by OpenAPI Generator 7.9.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.ProjectManagementModelsNestedBIMViewFolders do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsNestedBIMViewFolders`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  Create or find BIM View Folder by path
  Creates or returns the last view folder for the array of path provided.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body59` (Body59): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Procore.Model.RestV10NestedBimViewFoldersPost200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_nested_bim_view_folders_post(
          Tesla.Env.client(),
          integer(),
          Procore.Model.Body59.t(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, Procore.Model.RestV10NestedBimViewFoldersPost200Response.t()}
          | {:error, Tesla.Env.t()}
  def rest_v10_nested_bim_view_folders_post(connection, procore_company_id, body59, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/nested_bim_view_folders")
      |> add_param(:headers, "Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body59)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.RestV10NestedBimViewFoldersPost200Response},
      {201, Procore.Model.RestV10NestedBimViewFoldersPost200Response},
      {400, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
