# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Procore.Api.QualitySafetyInspectionsPotentialPointsOfContact do
  @moduledoc """
  API calls for all endpoints tagged `QualitySafetyInspectionsPotentialPointsOfContact`.
  """

  alias Procore.Connection
  import Procore.RequestBuilder

  @doc """
  List Potential Points of Contact
  Lists Potential Points of Contact in a specified Project.

  ### Parameters

  - `connection` (Procore.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:vendor_id` (integer()): Vendor ID

  ### Returns

  - `{:ok, [%ChecklistPotentialPointOfContact{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_checklist_potential_points_of_contact_get(
          Tesla.Env.client(),
          integer(),
          integer(),
          keyword()
        ) ::
          {:ok, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t()}
          | {:ok, [Procore.Model.ChecklistPotentialPointOfContact.t()]}
          | {:error, Tesla.Env.t()}
  def rest_v10_checklist_potential_points_of_contact_get(
        connection,
        procore_company_id,
        project_id,
        opts \\ []
      ) do
    optional_params = %{
      :vendor_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/checklist/potential_points_of_contact")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Procore.Model.ChecklistPotentialPointOfContact},
      {401, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {403, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response},
      {:default, Procore.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response}
    ])
  end
end
